ul {
  list-style: none ;
}

li{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
}

input:checked + span {
  text-decoration: line-through;
  color: #b9b9b9;
}

.App {
  text-align: center;
}

.App-container {
  padding: 8px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.delete{
  color: red;
  cursor: pointer;
}